<div class="container" style="margin:10px">

  

  <div *ngFor="let meta of allpostsdata | slice:0:6| filter:search " class="col-lg-4 col-sm-4 col-md-4 col-xs-12" style="margin-top:20px">
      <div class="card" style="height:400px;padding:20px;">
          <a  target="_blank" href="https://agile-dawn-35104.herokuapp.com/{{meta.productImage}}" ><img class="card-img-top" src="https://agile-dawn-35104.herokuapp.com/{{meta.productImage}}" alt="Avatar" style="max-width:100%;max-height:25vh;padding-left:80px"></a>
          <div class="card-body">
            <h4 style="padding:10px"><b>Category</b></h4> 
            <p><b>{{meta.name}}</b></p> 
            <p>Price {{meta.price}}</p> 
            <!-- <p>{{meta.description}}</p>  -->
            <!-- <a href="#" class="btn btn-primary">See Details</a> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myDetails" style="float:left;margin-top:10px;font-family:'Comic Sans MS', cursive, sans-serif" (click)="gomodal(meta)">See Details</button>
          </div>
      </div>
    </div>

</div>
<div class="modal fade" id="myDetails" role="dialog" style="margin-top:20px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="margin-top:300px">
          <a  target="_blank" href="https://agile-dawn-35104.herokuapp.com/{{particular.productImage}}" ><img class="card-img-top" src="https://agile-dawn-35104.herokuapp.com/{{particular.productImage}}" alt="Avatar" style="max-width:100%;max-height:25vh;padding-left:80px"></a>
          <div class="card-body">
            <h4 style="padding:10px"><b>Category</b></h4> 
            <p><b>{{particular.name}}</b></p> 
            <p>Price {{particular.price}}</p> 
            <p>{{particular.description}}</p> 
            <!-- <a href="#" class="btn btn-primary">See Details</a> -->
          </div>

      </div>
    </div>
</div>