.foot{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/source/3ad2d253949099.5947da852219b.png");
    //http://www.wallpaperback.net/wp-content/uploads/2018/02/Material-Design-Dark-HQ-Desktop-Wallpaper.png
    //https://orig00.deviantart.net/3eba/f/2015/192/5/3/dark_material_design__kind_of__wallpaper_1366x768_by_iamnotanartist0-d90xak1.png
    width:100%;
    height:60vh;
    display: table;
    background-attachment: fixed;
    background-size:100%;

}

.x1{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
ul {
    list-style-type: none;
  }