<app-header></app-header>
<div class="container">
  <!-- <div class="card">
        <img class="col-lg-4 avatar" src="../../assets/avatar.png" alt="Avatar">

  </div> -->
  <div class="card row" style="height:40vh;margin:20px;">
      <img class="card-img-top col-lg-4 col-md-4 col-sm-4" src="../../assets/sherlock.jpg" alt="Avatar" style="width:match-parent;padding:20px">
      <div class="col-lg-4">
        <div style="margin:10px">
          <p style="font-family:Arial;padding:25px;font-size:20px"><b>Name:</b><i style="font-size:25px;color:#cc00ff">{{userDetails.name}}</i></p>
          <p style="font-family:Arial;padding:25px;font-size:20px"><b>Address:</b><i style="font-size:20px;color:#cc00ff"> {{userDetails.address}}</i></p>
        </div>
      </div>
      <div class="col-lg-4">
          <div style="margin:15px">
            <p style="font-family:Arial;padding:25px;font-size:20px"><b>Mail-Id:</b><i style="padding-left:10px;font-size:20px;color:#cc00ff">{{userDetails.emailID}}</i></p>
            <p style="font-family:Arial;padding:25px;font-size:20px"><b>Phone:</b><i style="padding-left:10px;font-size:20px;color:#cc00ff">{{userDetails.mobileNo}}</i></p>
          </div>
      </div>
      <div class="container" style="padding:20px">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 " style="margin-left:30px;padding:10px" >
              <button type="button" class="btn btn-primary" style="font-size:20px;font-family:'Comic Sans MS', cursive, sans-serif" (click)="gotoPost()">Post a Product</button>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 " style="margin-left:30px;padding:10px">
              <button type="button" class="btn btn-primary" style="font-size:20px;font-family:'Comic Sans MS', cursive, sans-serif" (click)="gotoReq()">Request a Product</button>
          </div>
      </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-lg-6 col-sm-6" style="padding:20px;">
        <div class="card" style="padding:20px;margin:15px">
          <header style="font-size:25px;height:50px;padding:10px;font-family:'Comic Sans MS', cursive, sans-serif"><b>Products Posted</b></header>
          <a *ngFor="let prod of userProducts" style="margin:10px" href="http://localhost:4200/about">
          
            <div>
              <img class="card-img-top" src="https://agile-dawn-35104.herokuapp.com/{{prod.productImage}}" alt="Avatar" style="max-width:100%;max-height:15vh;padding-left:50px">
          </div>
          <div class="card1" style="padding:10px">
            <p class="x2" style="height:50px;padding:10px"><b style="font-size:20px;">Product: </b><i style="font-size:10px;color:black">{{prod.name}}</i></p>
            <p class="x3" style="height:50px;padding:10px"><b style="font-size:20px;">Price: </b><i style="font-size:10px;color:black">{{prod.price}}</i></p>
            <p class="x4" style="height:50px;padding:10px"><b style="font-size:20px;">Description: </b><i style="font-size:10px;color:black">{{prod.description}}</i></p>
          </div>
         
          </a>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6" style="padding:20px;">
      <div class="card" style="padding:20px;margin:15px">
          <header style="font-size:25px;height:50px;padding:10px;font-family:'Comic Sans MS', cursive, sans-serif"><b>Products Requested</b></header>
          <a *ngFor="let requ of userRequests" style="margin:10px" href="http://localhost:4200/about">
          <div class="card1" style="padding:10px">
            <p class="x2" style="height:50px;padding:10px"><b style="font-size:20px;">Product: </b><i style="font-size:10px;color:black">{{requ.name}}</i></p>
            <p class="x3" style="height:50px;padding:10px"><b style="font-size:20px;">Price: </b><i style="font-size:10px;color:black">{{requ.price}}</i></p>
            <p class="x4" style="height:50px;padding:10px"><b style="font-size:20px;">Description: </b><i style="font-size:10px;color:black">{{requ.description}}</i></p>
          </div>
          </a>
      </div>
    </div>

  </div>
  <!-- <script>
    (function(t,a,l,k,j,s){
    s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.getElementsByTagName('head')[0].appendChild(s);k=t.Promise;
    t.Talk={ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l.push([f])},catch:function(){return k&&new k()},c:l}};
    })(window,document,[]);
  </script>
  <div id="talkjs-container" style="width: calc(100% - 60px); margin: 30px; min-height: 150px"></div>
  <script>
    Talk.ready.then(function() {
        var me = new Talk.User({
            id: "12345",
            name: "George Looney",
            email: "george@looney.net",
            photoUrl: "https://talkjs.com/docs/img/george.jpg",
            welcomeMessage: "Hey there! How are you? :-)"
        });
        window.talkSession = new Talk.Session({
            appId: "tO7lSz6K",
            me: me
        });
        var other = new Talk.User({
            id: "54321",
            name: "Ronald Raygun",
            email: "ronald@teflon.com",
            photoUrl: "https://talkjs.com/docs/img/ronald.jpg",
            welcomeMessage: "Hey, how can I help?"
        });
    
        var conversation = talkSession.getOrStartConversation(other);
        var inbox = talkSession.createInbox({selected: conversation});
        inbox.mount(document.getElementById("talkjs-container"));
    });
    </script> -->
</div>
<app-footer></app-footer>