<app-header></app-header>
<div class="container">
  <!-- <div class="card">
        <img class="col-lg-4 avatar" src="../../assets/avatar.png" alt="Avatar">

  </div> -->
  <div class="card row" style="height:40vh;margin:20px;">
      <img class="card-img-top col-lg-4 col-md-4 col-sm-4" src="../../assets/sherlock.jpg" alt="Avatar" style="width:match-parent;padding:20px">
      <div class="col-lg-4">
        <div style="margin:10px">
          <p style="font-family:Arial;padding:25px;font-size:20px"><b>Name:</b><i style="font-size:25px;color:#cc00ff">{{userDetails.name}}</i></p>
          <p style="font-family:Arial;padding:25px;font-size:20px"><b>Address:</b><i style="font-size:20px;color:#cc00ff"> {{userDetails.address}}</i></p>
        </div>
      </div>
      <div class="col-lg-4">
          <div style="margin:15px">
            <p style="font-family:Arial;padding:25px;font-size:20px"><b>Mail-Id:</b><i style="padding-left:10px;font-size:20px;color:#cc00ff">{{userDetails.emailID}}</i></p>
            <p style="font-family:Arial;padding:25px;font-size:20px"><b>Phone:</b><i style="padding-left:10px;font-size:20px;color:#cc00ff">{{userDetails.mobileNo}}</i></p>
          </div>
        </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-lg-6 col-sm-6" style="padding:20px;">
        <div class="card" style="padding:20px;margin:15px">
          <header style="font-size:25px;height:50px;padding:10px;font-family:'Comic Sans MS', cursive, sans-serif"><b>Products Posted</b></header>
          <a *ngFor="let prod of userProducts" style="margin:10px" href="http://localhost:4200/about">
          <div class="card1" style="padding:10px">
            <p class="x2" style="height:50px;padding:10px"><b style="font-size:20px;">Product: </b><i style="font-size:10px;color:black">{{prod.name}}</i></p>
            <p class="x3" style="height:50px;padding:10px"><b style="font-size:20px;">Price: </b><i style="font-size:10px;color:black">{{prod.price}}</i></p>
            <p class="x4" style="height:50px;padding:10px"><b style="font-size:20px;">Description: </b><i style="font-size:10px;color:black">{{prod.description}}</i></p>
          </div>
          </a>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6" style="padding:20px;">
      <div class="card" style="padding:20px;margin:15px">
          <header style="font-size:25px;height:50px;padding:10px;font-family:'Comic Sans MS', cursive, sans-serif"><b>Products Requested</b></header>
          <a *ngFor="let requ of userRequests" style="margin:10px" href="http://localhost:4200/about">
          <div class="card1" style="padding:10px">
            <p class="x2" style="height:50px;padding:10px"><b style="font-size:20px;">Product: </b><i style="font-size:10px;color:black">{{requ.name}}</i></p>
            <p class="x3" style="height:50px;padding:10px"><b style="font-size:20px;">Price: </b><i style="font-size:10px;color:black">{{requ.price}}</i></p>
            <p class="x4" style="height:50px;padding:10px"><b style="font-size:20px;">Description: </b><i style="font-size:10px;color:black">{{requ.description}}</i></p>
          </div>
          </a>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>