<app-header></app-header>
<header>
  <div style="padding:20px;font-size:30px">ALL REQUESTED PRODUCTS</div>
</header>
<div class="container" style="margin:10px">

    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px;">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>

    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>

    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>

    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px">
           
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4" style="margin-top:10px">
        <div class="card" style="height:250px;padding:20px;">
            
            <div class="card-body">
              <h4 style="padding:10px"><b>Bicycle</b></h4> 
              <p>Hercules X890</p> 
              <p>Price X890</p> 
              <p>Cycle in good condition X890</p> 
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>


</div>
<app-footer></app-footer>